body{
    background-image: linear-gradient(to top, rgba(255, 255, 255, 0.45), rgba(255, 255, 255, 0.45)),url("/photos/background-image_4.jpg");
    background-color: rgb(255, 255, 255, 0.67);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

}
header{
    height: 100px;
    background-color: white;
    margin: 0;
    position: static;
}
.label{
    padding: 33px;
    position: absolute;
}
.label_1{
    margin-left: 150px;
    margin-top: -65px;
}
.label_2{
    margin-left: 280px;
    margin-top: -71px;
}
menu{
    list-style: none;
    margin: 0px;
    padding: 0 80px;
    line-height: 102px;
    float: right;
    margin-right: 250px;
}
menu li{
    display: inline-block;
    padding: 0 100px;
    height: 100px;
    margin: -10px -15px;
    text-align: center;
    width: 170px;
}
menu li:hover{
    font-weight: bolder;
    box-shadow: 2px 2px 5px deeppink;
}
.label_3{
    float: right;
    margin-right: -1730px;
    margin-top: -73px;
    position: static;
    text-decoration: none;
}
.link_1{
    text-decoration: none;
}
.plus_minus{
    cursor: pointer;
}
td{
    font-size: 30px;
}
table{
    margin-top: 50px;
}
fieldset legend{
    font: 25pt/0 'Averia Serif Libre';
    margin-left: 10px; /* to center */
    padding: 0 4px;
    color: #690949fe;
}
p {
    padding-top: 10px;
    margin: 40px;
    color: black;
    font-size: 30px;
}
fieldset {
    padding:10px;
    border:2px solid #690949fe;
    margin:20px;
    border-radius: 20px;
    background-color: #ffffffbd;
}
.figure {
    position: absolute;
    left: 460px;
    font-size: 30px;
}
select {
    position: absolute;
    left: 200px;
}
h1 {
    color: black;
    margin-left: 50px;
    font-size: 40px;
}
.submit {
    cursor: pointer;
    padding: 10px 30px;
    height: 80px;
    width: 250px;
    color: white;
    background: #690949fe;
    border: none;
    text-transform: uppercase;
    font-size: 30px;
    box-shadow: 2px 2px 5px black;
    border-radius: 20px;
}
.submit:hover{
    opacity: .80;
    font-weight: bold;
    transform: scale(1.1);
}
.on_top{
    position: fixed;
    bottom: 0;
    right: 30px;
}
/* Контейнер <div> - необходим для размещения выпадающего содержимого */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Выпадающее содержимое (скрыто по умолчанию) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 300px;
  margin-left: -60px;
  box-shadow: 0px 8px 16px 0px deeppink;
  z-index: 1;
}

/* Ссылки внутри выпадающего списка */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Изменение цвета выпадающих ссылок при наведении курсора */
.dropdown-content a:hover {background-color: #ddd;}

/* Показать выпадающее меню при наведении курсора */
.dropdown:hover .dropdown-content {display: block;}

/* Изменение цвета фона кнопки раскрывающегося списка при отображении содержимого раскрывающегося списка */
.dropdown:hover.link_1 {background-color: #3e8e41;}